@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #5e5e5e;
  background: #000000;
  font-size: 16px;
  line-height: 24px;
}

@layer base {
  h1, h2, h3 {
    font-family: var(--font-archivo-black), sans-serif;
    text-transform: uppercase;
  }
}
